services:
  webapp:
    image: bluebiloba/gss-docker:4.16_BB
    restart: unless-stopped
    container_name: gss-docker
    ports:
      - 8080:80
      - 8443:443
    environment:
      POSTGRES_USER: ${GSS_POSTGRES_USER}
      POSTGRES_PASSWORD: ${GSS_POSTGRES_PASSWORD}
      POSTGRES_PORT: ${GSS_POSTGRES_PORT}
      POSTGRES_DB: ${GSS_POSTGRES_DB}
      POSTGRES_HOST: 'database'
      SECRET_KEY: ${GSS_SECRETKEY}
      DEBUG: ${DEBUG}
      DJANGO_LOG_LEVEL: ${DJANGO_LOG_LEVEL}
      ALLOWED_HOSTS: ${GSS_ALLOWED_HOSTS}
      CORS_ALLOWED_ORIGINS: ${GSS_CORS_ALLOWED_ORIGINS}
      CSRF_TRUSTED_ORIGINS: ${GSS_CSRF_TRUSTED_ORIGINS}
      WEB_CONCURRENCY: 4 # gunicorn workers
    depends_on:
      - database
    volumes:
      - ${GSS_MEDIAFOLDER}:/basefolder/media
      - ${GSS_DYNAMICMIGRATIONSFOLDER}:/basefolder/gss/formlayers/migrations
      - ${GSS_LOGS}:/basefolder/logs
    networks:
      - gss_network

  database:
    image: postgis/postgis:15-3.3
    restart: unless-stopped
    container_name: gss-postgres
    hostname: postgres
    ports:
      - ${GSS_POSTGRES_PORT}:5432
    environment:
      POSTGRES_USER: ${GSS_POSTGRES_USER}
      POSTGRES_PASSWORD: ${GSS_POSTGRES_PASSWORD}
      POSTGRES_PORT: ${GSS_POSTGRES_PORT}
      POSTGRES_DB: ${GSS_POSTGRES_DB}
    networks:
      - gss_network
    volumes:
     - ${GSS_POSTGRESFOLDER}:/var/lib/postgresql/data

networks:
  gss_network:
    driver: bridge